[package]
name = "rocinante"
version = "0.1.0"
authors = ["Taegyun Kim <k.taegyun@gmail.com", "Anirudh Sivaraman <sk.anirudh@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "*"
wabt = "*"
wat = "*"

[dev-dependencies]
env_logger = "*"
log = "*"
z3 = "*"

[dev-dependencies.cargo-husky]
version = "1"
default-features = false # Disable features which are enabled by default
features = ["run-for-all", "precommit-hook", "run-cargo-test", "run-cargo-fmt", "run-cargo-clippy"]
