[package]
name = "rocinante"
version = "0.1.0"
authors = ["Anirudh Sivaraman <sk.anirudh@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
z3 = "0.4.0"
env_logger = "0.6"
log = "0.4"
lazy_static = "1"
